<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if IE 9]>         <html dir="{{dir}}" lang="{{lang}}" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html dir="{{dir}}" lang="{{lang}}" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}} v{{version}}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- For old IEs -->
<link rel="shortcut icon" href="{{webroot}}favicon.ico" />
<!-- For new browsers multisize ico  -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{webroot}}favicon.ico">
<script src="/socket.io/socket.io.js"></script>
</head>
<body class="{{dir}}">
<div id="loading">{{> loading}}</div>
<div id="container"></div>
<script data-version="{{version}}" data-webroot="{{webroot}}" data-cdn="{{webroot}}" src="{{webroot}}plugins.js"></script>
<script src="{{webroot}}vendor.js"></script>
<script src="{{webroot}}app.js"></script>
</body>
</html>
